.square {
  display: block;
  height: 30px;
  width: 30px;
  border: 1px solid #a0a0a0;
}

.visited {
  animation-name: color_change;
  animation-duration: 1s;
  animation-direction: alternate;
  background: grey;
}

@-webkit-keyframes color_change {
  from {
    background-color: white;
    scale: 1.2;
  }
  to {
    background-color: grey;
    scale: 1;
  }
}
@-moz-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: grey;
  }
}
@-ms-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: grey;
  }
}
@-o-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: grey;
  }
}
@keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: grey;
  }
}
