.App {
  display: grid;
}

.App > :only-child {
  display: grid;
  width: 1828px;
  justify-self: center;
  grid-template-columns: repeat(90, auto);
  grid-gap: 2px;
}

.square {
  display: block;
  height: 15px;
  width: 15px;
  text-align: center;
  font-size: 7px;
  border: 1px solid #a0a0a0;
}

.visited {
  animation-name: color_change;
  animation-duration: 1s;
  animation-direction: alternate;
  background-color: salmon;
}

@-webkit-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: salmon;
  }
}
@-moz-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: salmon;
  }
}
@-ms-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: salmon;
  }
}
@-o-keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: salmon;
  }
}
@keyframes color_change {
  from {
    background-color: white;
  }
  to {
    background-color: salmon;
  }
}
